<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>extra_task</title>
        <style>

        </style>
    </head>

    <body>
        <!-- <div id="app">
            <div v-for="season in seasonsReport">
                <h2>{{season.title}}</h2>
                <div>{{season.averaheTemp}}</div>
                <div>{{season.visitors}}</div>
            </div>
        </div>
        <script>
            const { createApp } = Vue
            const app = createApp({
                data() {
                    return {
                        seasonsReport: {
                            spring: {
                                title: 'Весна',
                                averaheTemp: 12,
                                visitors: 1239,
                            },
                            summer: {
                                title: 'Літо',
                                averaheTemp: 32,
                                visitors: 6231,
                            },
                            fall: {
                                title: 'Осінь',
                                averaheTemp: 20,
                                visitors: 2230,
                            },
                            winter: {
                                title: 'Зима',
                                averaheTemp: 12,
                                visitors: 642,
                            },
                        }
                    }
                },
                computed: {

                },
                methods: {

                }
            }).mount('#app')
        </script> -->
        <!-- <div id="app1">

            <div>
                <h1>Сума на рахунку: {{balance}}</h1>
                <div>
                    <label>
                        Додати на рахунок: <input type="number" v-model="addMoney" @focus="onFocus">
                    </label>
                    <button type="button" @click="isAddMoney">Додати</button>
                </div>
                <div>
                    <label>
                        Зняти з рахунку
                        <input type="number" v-model="withdrawMoney" @focus="onFocus">
                    </label>
                    <button type="button" @click="isWithdrawMoney">Зняти</button>
                </div>
                <div>
                    <p>Ціна за обслуговування : {{showTaxRate}}</p>
                </div>
                <div>
                    <p>Рахунок в доларах {{dollarValue}}</p>
                    <p>Рахунок в євро: {{euroValue}}</p>
                </div>
                <div v-if="message">{{message}}</div>
            </div>

        </div>
        <script>
            const { createApp } = Vue
            const TAX_PERCENTAGE = 3
            const DOLLAR_RATE = 38
            const EURO_RATE = 40
            const app1 = createApp({
                data() {
                    return {
                        balance: null,
                        addMoney: null,
                        withdrawMoney: null,
                        message: " "
                    }
                },
                computed: {
                    taxRate() {
                        let sum = (this.addMoney ?? 0) + (this.withdrawMoney ?? 0)
                        return (sum * TAX_PERCENTAGE) / 100
                    },
                    showTaxRate() {
                        return this.taxRate.toFixed(2)
                    },
                    dollarValue() {
                        return (this.balance / DOLLAR_RATE).toFixed(2)
                    },
                    euroValue() {
                        return (this.balance / EURO_RATE).toFixed(2)
                    }
                },
                methods: {
                    isAddMoney() {
                        if (this.addMoney < 0) {
                            this.message = "Сума має бути додатною "
                            return
                        }
                        this.balance += this.addMoney - this.taxRate
                        this.addMoney = null
                    },
                    isWithdrawMoney() {
                        const valueToSubtract = this.withdrawMoney + this.taxRate
                        if (valueToSubtract > this.balance) {
                            this.message = "Недостатньо коштів"
                            return
                        }
                        this.balance -= valueToSubtract
                        this.withdrawMoney = null
                    },
                    onFocus() {
                        this.message = null
                    }
                }
            }).mount('#app1')
        </script> -->
        <!-- <div id="app2">
            <label>
                CM
                <input type="number" v-model="cmValue">
            </label>
            <p>Метри {{isMeters}}</p>
            <p>Кілометри {{isKilo}}</p>
        </div>

        <script>
            const { createApp } = Vue
            const app2 = createApp({
                data() {
                    return {
                        cmValue: null
                    }
                },
                computed: {
                    isMeters() {
                        return (this.cmValue / 100).toFixed(2)
                    },
                    isKilo() {
                        return (this.cmValue / 100000).toFixed(2)
                    }
                },
                methods: {

                }
            }).mount('#app2')
        </script> -->
        <!-- <div id="app3">
            <input type="number" :style="{ backgroundColor: currentColor }" v-model="temp">
        </div>
        <script>
            const { createApp } = Vue
            const app3 = createApp({
                data() {
                    return {
                        temp: null
                    }
                },
                computed: {
                    currentColor() {
                        let resColor = "white"
                        if (this.temp) {
                            if (this.temp <= 0) resColor
                            else if (this.temp < 10) resColor = "blue"
                            else if (this.temp < 22) resColor = "green"
                            else resColor = "red"
                        }
                        return resColor
                    }
                },
                methods: {

                }
            }).mount('#app3')
        </script> -->
        <!-- <style>
            .low {
                background-color: orange;
            }

            .normal {
                background-color: green;
            }

            .danger {
                background-color: red;
            }
        </style>
        <div id="app4">
            <div>
                <label>
                    Дозволена швидкість
                    <input type="number" v-model="limitSpeed">
                </label>
                <label>
                    Поточни швидкість
                    <input type="number" v-model="currentSpeed" :class="{ [currentClass]:isValidData}" :disabled=" !limitSpeed">
                </label>
                <div>{{currentSpeedRate}} % </div>
                <div v-show="isAlertVisible">Увага!</div>
            </div>
        </div>
        <script>
            const { createApp } = Vue
            const app4 = createApp({
                data() {
                    return {
                        limitSpeed: null,
                        currentSpeedValue: null,
                        isAlertVisible: false,
                        intervalId: null
                    }
                },
                computed: {
                    currentSpeed: {
                        get() { return this.currentSpeedValue },
                        set(newValue) {
                            this.currentSpeedValue = newValue
                            if ((newValue * 100) / this.limitSpeed > 90)
                                this.startDisplayAlert()
                            else this.endDisplayAlert()
                        }
                    },
                    currentSpeedRate() {
                        return (this.currentSpeed * 100) / this.limitSpeed
                    },
                    currentClass() {
                        let currentClass = null
                        if (this.currentSpeedRate < 50) currentClass = "low"
                        else if (this.currentSpeedRate < 100) currentClass = "normal"
                        else currentClass = "danger"
                        return currentClass
                    },
                    isValidData() {
                        return this.limitSpeed && this.currentSpeed
                    }
                },
                methods: {
                    startDisplayAlert() {
                        if (!this.intervalId) {
                            this.intervalId = setInterval(() => {
                                this.isAlertVisible = !this.isAlertVisible
                            }, 1000)
                        }
                    },
                    endDisplayAlert() {
                        if (this.intervalId) {
                            clearInterval(this.intervalId)
                            this.intervalId = null
                        }
                    }
                }
            }).mount('#app4') -->
        <!-- <style>
            #app5 {
                display: flex;
                gap: 4px;
            }

            .game-item {
                width: 40px;
                height: 40px;
                border: 2px solid red;
            }

            .closed {
                background: grey;
            }

            .mine {
                background-color: red;
            }

            .free {
                background-color: green;
            }
        </style>
        <div id="app5">
            <div v-for="(cell,index) in gameField" class="game-item" :class="{
        'closed':cell.isClosed,
        'mine':!cell.isClosed &&cell.hasMine,
        'free':!cell.isClosed &&!cell.hasMine,
        }" @click="onClick(index)"></div>
        </div>
        <script>
            const { createApp } = Vue
            const app5 = createApp({
                data() {
                    return {
                        gameField: [
                            {
                                hasMine: 1,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 1,
                                isClosed: true,
                            },
                            {
                                hasMine: 1,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                            {
                                hasMine: 0,
                                isClosed: true,
                            },
                        ],
                    }
                },
                computed: {
                },
                methods: {
                    onClick(index) {
                        this.gameField[index].isClosed = false
                        if (this.gameField[index].hasMine === 0)
                            for (let i = index + 1; i < this.gameField.length; i++) {
                                if (this.gameField[i].hasMine === 0)
                                    this.gameField[i].isClosed = false
                                else break
                            }
                        for (let r = index - 1; r >= 0; r--) {
                            if (this.gameField[r].hasMine === 0)
                                this.gameField[r].isClosed = false
                            else break
                        }
                    }
                }
            }).mount('#app5') 
        </script> -->
    </body>


</html>