<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>extra_task</title>
        <style>

        </style>
    </head>

    <body>
        <style>
            body {
                background-color: rgba(36, 38, 81, 0.377);
            }

            .container {
                margin: 20px 50px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;

            }

            .container h1 {
                font-size: 10 px;
                padding: 0px 30px 0px 30px;
                border-bottom: 2px solid black;
            }

            #app {
                display: flex;
                align-items: flex-start;
                gap: 25px;
                flex-direction: column;
            }

            #app input {
                padding: 10px;
                font-size: 15px;
            }

            .value {
                display: flex;
                gap: 15px;
            }

            #app label {
                font-size: 25px;
            }


            #app button {
                padding: 10px 30px;
                border-radius: 8px;
                background-color: rgba(4, 46, 62, 0.313);
            }

            /* =========================================================== */
        </style>
        <!-- Приклад. При відкритті сайту перевіряється вік користувача.
            1)якщо не ввів, просимо ввести (поміщаємо фокус в елемент вводу)
            2)якщо вік менше 18 років – доступ заборонено
            3)якщо вік більше за 18 років – доступ дозволено -->

        <!-- <div class="container">
            <div id="app">
                <div>
                    <label ref="myLabel">
                        Введіть вік :
                        <input ref="userAge" type="number" v-model="age" />
                    </label>
                    <button @click="onStart">Go</button>
                </div>
                <div v-for="massege">{{massege}}</div>
            </div>
        </div>
        <script>
            const { createApp } = Vue
            const app = createApp({
                data() {
                    return {
                        age: null,
                        massege: null
                    }
                },
                methods: {
                    onStart() {
                        if (!this.age) {
                            this.$refs.userAge.focus()
                            this.massege = "Введіть ваш вік"
                        }
                    }
                },
            }).mount('#app')
        </script> -->
        <!-- <div class="container">
            <div id="app">
                <div>
                    <label ref="myLabel">
                        Введіть вік :
                        <input ref="userAge" type="number" v-model="age" />
                    </label>
                    <button @click="onStart">Go</button>
                </div>
                <div v-for="massege">{{massege}}</div>
            </div>
        </div>
        <script>
            const { createApp } = Vue
            const app = createApp({
                data() {
                    return {
                        age: null,
                        massege: null
                    }
                },
                methods: {
                    onStart() {
                        if (!this.age) {
                            this.$refs.userAge.focus()
                            this.massege = "Введіть ваш вік"
                        }
                    }
                },
            }).mount('#app')
        </script> -->
        <!-- <div class="container">
            <div id="app">
                <div>
                    <label>
                        Login :
                        <input ref="login" type="text" v-model="login" />
                    </label>
                </div>
                <div>
                    <label>
                        Password :
                        <input ref="password" type="password" v-model="password" />
                    </label>
                </div>
                <button @click.prevent="onLogin">Go</button>

                <div v-if="message && isMessageVisible">{{message}}</div>
            </div>
        </div>
        <script>
            const { createApp } = Vue
            const app = createApp({
                data() {
                    return {
                        login: null,
                        password: null,
                        prettyName: null,
                        message: null
                    }
                },
                computed: {
                    isMessageVisible() {
                        return this.prettyName && !this[this.prettyName]
                    }
                },
                methods: {
                    onLogin() {
                        if (!this.login) {
                            this.$refs.login.focus()
                            this.prettyName = "login"
                            this.message = "Задайте login"
                        } else if (!this.password)
                            this.$refs.password.focus()
                        this.prettyName = "password"
                        this.message = "Задайте password"
                    }
                },
            }).mount('#app')
        </script> -->


        <!-- <div class="container">
                    <div id="app">
                        <div>
                            <label ref="myLabel">
                                Введіть вік :
                                <input ref="userAge" type="number" v-model="age" />
                            </label>
                            <button @click="onStart">Go</button>
                        </div>
                        <div v-for="massege">{{massege}}</div>
                    </div>
                </div>
                <script>
                    const { createApp } = Vue
                    const app = createApp({
                        data() {
                            return {
                                age: null,
                                massege: null
                            }
                        },
                        methods: {
                            onStart() {
                                if (!this.age) {
                                    this.$refs.userAge.focus()
                                    this.massege = "Введіть ваш вік"
                                }
                            }
                        },
                    }).mount('#app')
                </script> -->
        <!-- <div class="container">
            <div id="app">
                <div v-for="i in 3" :key="i">
                    <label>
                        Оцінка № {{i}} :
                        <input ref="mark" type="number" v-model="marks[i-1]" />
                    </label>
                </div>

                <button @click="getAverage">Знайти мінімальну оцінку</button>

                <div v-if="message">{{message}}</div>
            </div>
        </div>
        </div>
        <script>
            const { createApp } = Vue
            const app = createApp({
                data() {
                    return {
                        marks: [],
                        message: null
                    }
                },
                computed: {
                },
                methods: {
                    // getAverage() {
                    //     let notValidInputIndex = -1
                    //     for (let i = 0; i < 3; i++) {
                    //         if (!this.marks[i]) {
                    //             notValidInputIndex = i
                    //             break
                    //         }
                    //     }
                    //     if (notValidInputIndex !== -1) {
                    //         this.$refs.mark[notValidInputIndex].focus()
                    //         this.message = `Задайте оцінку № ${notValidInputIndex + 1}`
                    //     } else {
                    //         this.message = `Найменша оцінка: ${Math.min(...this.marks)}`
                    //     }
                    // },

                    // getAverage() {
                    //     let notValidInputIndex = -1
                    //     for (let i = 0; i < 3; i++) {
                    //         if (!this.marks[i]) {
                    //             notValidInputIndex = i
                    //             break
                    //         }
                    //     }
                    //     // let notValidInputIndex = this.marks.findIndex(el => !el)
                    //     if (notValidInputIndex !== -1) {
                    //         this.$refs.marks[notValidInputIndex].focus()
                    //         this.message = `Введіть число ${notValidInputIndex + 1}`
                    //     }
                    // }
                },
            }).mount('#app')
        </script> -->


        <!-- <div class="container">
            <div id="app">
                <h1>Поточний час</h1>
                <h2>{{currentTime}}</h2>
            </div>
        </div>
        <script> -->
        <!-- 
            // const { createApp } = Vue
            // const app = createApp({
            //     data() {
            //         return {
            //             currentTime: null
            //         }
            //     },
            //     computed: {
            //     },
            //     methods: {
            //         setCurrentTime() {
            //             this.currentTime = new Date().toLocaleTimeString()
            //         },
            //     },

            //     created() {
            //         setInterval(() => {
            //             this.setCurrentTime()
            //         }, 1000)
            //     }
            // }).mount('#app') -->

        <!-- <div class="container">
            <div id="app">
                <div v-if="isLoading">... Завнтаження ...</div>
                <div v-else v-for="item in resData">
                    <hr />
                    <h1>{{item.attributes.titles.en}}</h1>
                    <img :src="item.attributes.posterImage.medium" />
                    <div>{{item.attributes.description}}</div>
                </div>
            </div>
        </div>

        <script>
            const { createApp } = Vue
            const app = createApp({
                data() {
                    return {
                        resData: null,
                        isLoading: true
                    }
                },
                computed: {

                },
                methods: {
                    loadData() {
                        fetch('https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=0')
                            .then((response) => response.json())
                            .then((rData) => {
                                console.log(rData)
                                this.resData = rData.data,
                                    this.isLoading = false
                            })
                    }
                },
                created() {
                    setTimeout(() => {
                        this.loadData()
                    }, 4000)
                } -->
        <!-- }).mount('#app') -->
        <!-- <div id="app">
            <div>
                <label>
                    Введіть вік :
                    <input ref="age" type="number" v-model="age" />
                </label>
            </div>

            <button @click="onStart">Go</button>

            <div v-if="message" class="error">{{message}}</div>
        </div>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        age: null,
                        message: null,
                    }
                },

                methods: {
                    onStart() {
                        if (!this.age) {
                            this.$refs.age.focus()
                            this.message = 'Введіть вік'
                        } else {
                            if (this.age < 18) this.message = 'Вхід заборонено'
                            else this.message = 'Вхід дозволено'
                        }
                    },
                },

                mounted() {
                },
            }).mount('#app') -->
        <!-- <div id="app">
            <div>
                <label>
                    Назва товару :
                    <input type="text" v-model="product.title" />
                </label>
            </div>
            <div>
                <label>
                    Ціна товару :
                    <input type="number" v-model="product.price" />
                </label>
            </div>
            <button @click="saveData">Зберегти дані</button>
        </div>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        product: {
                            title: null,
                            price: null,
                        },
                    }
                },
                methods: {
                    saveData() {
                        localStorage.setItem("product", JSON.stringify(this.product))
                    },
                    onLoad() {
                        if (localStorage.getItem('product'))
                            this.product = JSON.parse(localStorage.getItem('product'))
                    }
                },
                mounted() {
                    setTimeout(() => {
                        this.onLoad()
                    }, 3000)
                },
            }).mount('#app')
        </script> -->
        <!-- <div id="app">
            <div>
                <label>
                    Введіть ім’я :
                    <input type="text" v-model="userName" />
                </label>
            </div>
        </div>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        userName: null
                    }
                },
                // computed: {
                //     userName: {
                //         get() {
                //             return this.userNameValue
                //         },
                //         set(newValue) {
                //             this.userNameValue = newValue
                //             localStorage.setItem('userName', newValue)
                //         }
                //     }
                // },
                watch: {
                    userName(newValue, oldValue) {
                        console.log(`${newValue}  ${oldValue}`)
                        localStorage.setItem("userName", newValue)
                    }
                },
                mounted() {
                    this.userName = localStorage.getItem('userName')
                },
            }).mount('#app')
        </script> -->
        <!-- <div id="app">
            <div>
                <label>
                    Введіть ім’я :
                    <input type="text" v-model="user.name" />
                </label>
            </div>
            <div>
                <label>
                    Введіть вік :
                    <input type="number" v-model="user.age" />
                </label>
            </div>
        </div>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        user: {
                            name: null,
                            age: null,
                        },
                    }
                },

                watch: {
                    'user.name'(newValue, oldValue) {
                        localStorage.setItem('user', JSON.stringify(this.user))
                    },
                    'user.age'(newValue, oldValue) {
                        localStorage.setItem('user', JSON.stringify(this.user))
                    },
                },

                mounted() {
                    this.user = JSON.parse(localStorage.getItem('user'))
                },
            }).mount('#app') -->



        <div id="app">
            <div>
                <label>
                    Введіть ім’я :
                    <input type="text" v-model="user.name" />
                </label>
            </div>
            <div>
                <label>
                    Введіть вік :
                    <input type="number" v-model="user.age" />
                </label>
            </div>
        </div>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        user: {},
                    }
                },

                watch: {
                    user: {
                        handler(newValue, oldValue) {
                            console.log(`${newValue} ${oldValue}`)
                            localStorage.setItem("user", JSON.stringify(newValue))
                        },
                        deep: true,
                    },
                },

                mounted() {
                    this.user = JSON.parse(localStorage.getItem('user'))
                },
            }).mount('#app') 
        </script>
        </div>
    </body>




</html>